<div>
    <div ng-repeat="routine in routines" class="list-row">
            <div class="float_left">id:{{routine.id}} {{routine.name}}</div>
            <div class="float_right">
                <div class="routine-sets-title">
                    <div class="inline set-spacing" ng-repeat="set in routine.sets">{{set}}</div>
                </div>
                <div class="routine-sets">
                    <div class="inline" ng-repeat="set in routine.sets">
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
